body,html,div,dl,dt,dd,ul,li,ol,h1,h2,h3,h4,h5,h6,form,fieldset,input,textarea,p,th,td,a,img,span {
    margin:0;
    padding:0;
    font-family:'微软雅黑'
}
/*外层包裹div*/
li{
    list-style-type: none;
}

.out-content{
    width: 100%;
    height: auto;
}
/*内层包裹div*/
.inner-content{
    width: 100%;
    height: 100%;
}
/*主体内容*/
.main-content{
    height: 100%;
    left: 0 !important;
}

/*头部横条*/
.main-content-header{
    margin-bottom: 20px;
    height: 30px;
}
.main-content-header-lists0 {
    background: #808080;
    color: #fff;
    margin-bottom: 0px;
    height: 30px;
    line-height: 30px;
    text-indent: 10px !important;
}

/*单位搜索部分*/
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size:14px;
    font-weight:100;
}
.rct-form-control {
    position: relative;
    padding: 6px 9px;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #e3e3e3;
    border-radius: 4px;
    line-height: normal;
    box-sizing: border-box;
    background-color: #fff;
    vertical-align: middle;
    outline: 0;
}
.button-block{
    margin-top: 20px;
}

.input-blocked{
    display: inline-block;
    border: 1px solid #a9a9a9;
    height: 30px;
    vertical-align: middle;
}
.input-blocked input,select{
    border: none;
    height: 28px !important;
    outline: none;
    margin: 0 5px;
}
.condition-query li select{
    width:160px;
    border: 1px solid #a9a9a9;
    height: 30px;
}
.input-blocked select option{

}
.condition-query li{
    line-height: 26px !important;
    margin-top: 4px;
    margin-bottom: 14px;
    float:left;
    margin-right: 10px;
    color:#333 !important;
}
/*上方按钮样式*/
.top-btn {
    border-width: 0;
    font-size: 14px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;

    border-radius: 4px;
    color: #fff;
    background-color: #45B6AF;
    border-color: #3ea49d;
    width:80px;
}
.top-btn:hover{
    color: #fff;
    background-color: #3b9c96;
    border-color: #307f7a;
    outline: none;
}

add-input-arrow {
    width: 10px;
    height: 10px;
    background: url(../img/down-arrow.png) no-repeat;
    background-size: 10px;
    background-position: 95% center;
    float: right;
    margin-top: 10px;
}
.add-input-father {
    width: 202px;
    position: relative;
    display: inline-block;
}
.add-input-block {
    width: 202px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 0 5px 0 5px;
    vertical-align: middle;
}
.add-input {
    width: 190px;
    border-radius: 5px;
    border: none;
    outline: none;
    line-height: 30px;
    height: 30px;
    text-align: left;
}
.add-select-block {
    margin: 0;
    width: 202px;
    padding: 0 5px 0 5px;
    position: absolute;
    border: 1px solid #ccc;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    background: white;
    display: none;
    top: 29px;
}
.add-select-block li {
    list-style: none;
    line-height: 25px;
    cursor: pointer;
    text-align: left;
}
/*表格部分*/
.main-contents-table {
    text-align: center;
    margin-top: 30px;
}
.dataTables_length {
    float: right !important;
    margin-right:10px;
    font-weight: 700;
}
.dataTables_length label{
    font-weight: 700;
}
#dateTables th, td {
    text-align: center;
}
#dateTables_wrapper{
    overflow: auto;
    min-width:500px;
}

/*弹窗样式*/
.add-title {
    font-size: 26px;
    line-height: 50px;
    padding: 20px;
    padding-top: 5px;
    border-bottom: 1px solid #ddd;
    font-weight:700;
}
.add-main-content{
    margin-bottom:10px;
}
.add-input-block {
    width: 202px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 0 5px 0 5px;
}
.add-input {
    width: 190px;
    border-radius: 5px;
    border: none;
    outline: none;
    line-height: 30px;
    height: 30px;
    text-align: left;
    cursor:pointer;
}
.add-input span{
    cursor: pointer;
}
.inner-input{
    text-align:left;
    margin-top:15px;
    margin-bottom:20px;
}
.input-label{
    background:url("../img/asterisk.png") no-repeat 0 center;

}
.inner-input label{
    width:115px;
    text-align:left;
    padding-left:20px;

}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size:14px;

}

/*select 优化样式*/
.add-deploy{
    border:1px solid #c1c6ce;
    width:100%;
    margin-top:40px;
    margin-bottom:10px;
    position:relative;

}
.deploy-header{
    font-weight: 600;
    position:absolute;
    background:#ccc;
    left:20px;
    top:-20px;
    height:30px;
    line-height:30px;
    text-align:center;
    width:160px;
}
.deploy-form{
    padding-left:5px;
}
.deploy-form label{
    margin-right:5px;
    font-size:16px;
}
.deploy-form label input{
    margin-right:5px;
}
.add-deploy .inner-input{
    text-align: left;
}
.add-input option{
    width:302px;
    border:none
}
.add-deploy select{
    border:none;
    outline: none;
}
.add-input-father {
    width: 202px;
    position: relative;
    display: inline-block;
}
.add-input-block {
    width: 202px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 0 5px 0 5px;
    vertical-align: middle;
}
.add-input-arrow {
    width: 10px;
    height: 10px;
    background: url(../img/down-arrow.png) no-repeat;
    background-size: 10px;
    background-position: 95% center;
    float: right;
    margin-top: 10px;
}
.add-select-block {
    margin: 0;
    padding: 0;
    width: 202px;
    padding: 0 5px 0 5px;
    position: absolute;
    border: 1px solid #ccc;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    background: white;
    display: none;
    top: 29px;
}
.add-select-block li {
    list-style: none;
    line-height: 25px;
    cursor: pointer;
    text-align: left;
}
.deploy-form .row{
    padding-left:20px;
}

/*搜索框样式*/
#ul1,#ul2{
    width:92%;
    padding-left:10px;
    border: 1px solid #999;
    margin-left:10px;
    border-radius:5px;
    margin-bottom:20px;
    max-height:280px;
    overflow-y: auto;
}
#ul1,#ul2 li{
    cursor:pointer;
    font-size:14px;
    line-height:30px;
    color: #4c4c4c;
}
#ul1,#ul2 li:hover{
    color:black;
}
.search-value-list{
    width:92%;
    padding-left:10px;
    margin-left:10px;
    border-radius:5px;
    margin-bottom:20px;
    max-height:280px;
    overflow-y: auto;
}
.search-value-list li{
    cursor:pointer;
    font-size:14px;
    line-height:30px;
    color: #4c4c4c;
}
.chooseDate{
    background:url("../img/times.png") no-repeat 160px center;
    background-size: auto 80%;
}

.window-btn {
    width: 116px;
}
/*选中行的样式*/
.dataTables_wrapper .dataTable .onFocus {
    background: #fbec88;
}


.odd td{
   height:36px;
}
.even td{
    height:36px;
}
.theHidden{
    display: none !important;
}
.fdjImg{
    cursor: pointer;
}