body,html,div,dl,dt,dd,ul,li,ol,h1,h2,h3,h4,h5,h6,form,fieldset,input,textarea,p,th,td,a,img,span {
    margin:0;
    padding:0;
    font-family:'微软雅黑'
}
li{
    list-style-type: none;
}

/*外层包裹div*/
.out-content{
    width: 100%;
    height: auto;
}
/*内层包裹div*/
.inner-content{
    width: 100%;
    height: 100%;
}
/*主体内容*/
.main-content {
    height: 100%;
    left: 0 !important;
}

.main-content-left {
    border: 1px solid #ccc;
    /* position: relative; */
}

/*头部横条*/
.main-content-header{
    margin-bottom: 5px;
    height: 30px;
}
.main-content-header-lists0 {
    background: #808080;
    color: #fff;
    margin-bottom: 0px;
    height: 30px;
    line-height: 30px;
    text-indent: 10px !important;
}
/*树状图搜索框*/
#key{
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-sizing: content-box;
    width: 206px;
}
.ztree li span {
  font-size:14px;
}

.ztree li span font {
    font-size:16px;
}

/*上方添加按钮*/
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size:14px;

}
.top-btn {
    border-width: 0;
    font-size: 14px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;

    border-radius: 4px;
    color: #fff;
    background-color: #45B6AF;
    border-color: #3ea49d;
    width:80px;
}
.top-btn:hover{
    color: #fff;
    background-color: #3b9c96;
    border-color: #307f7a;
    outline: none;
}

/*表格部分*/
.main-contents-table {
    text-align: center;
    margin-top: 30px;
}
.dataTables_length {
    float: right !important;
}
#dateTables th, td{
    text-align: center;
}

/*弹窗样式*/
.add-title {
    font-size: 26px;
    line-height: 50px;
    padding: 20px;
    padding-top: 5px;
    border-bottom: 1px solid #ddd;
    font-weight:700;
}
.add-main-content{
    margin-bottom:10px;
}
.add-input-block {
    width: 202px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 0 5px 0 5px;
}
.add-input {
    width: 190px;
    border-radius: 5px;
    border: none;
    outline: none;
    line-height: 30px;
    height: 30px;
    text-align: left;
}
.inner-input{
    text-align:left;
    margin-top:15px;
    margin-bottom:20px;
}
.input-label{
    background:url("../img/asterisk.png") no-repeat 0 center;

}
.inner-input label{
    width:115px;
    text-align:left;
    padding-left:20px;

}
.window-btn {
    width: 200px;
}
.ament-data {
    padding-left: 20px;
    font-size: 16px;
    margin-bottom: 10px;
}
.condition-query{
    margin-bottom:20px;
}
.modal-dialog{
    min-width:250px;
}

/*select 优化样式*/
.add-deploy{
    border:1px solid #c1c6ce;
    width:100%;
    margin-top:40px;
    margin-bottom:10px;
    position:relative;

}
.deploy-header{
    font-weight: 600;
    position:absolute;
    background:#ccc;
    left:20px;
    top:-20px;
    height:30px;
    line-height:30px;
    text-align:center;
    width:160px;
}
.deploy-form{
    padding-left:5px;
}
.deploy-form label{
    margin-right:5px;
    font-size:16px;
}
.deploy-form label input{
    margin-right:5px;
}
.add-deploy .inner-input{
    text-align: left;
}
.add-input option{
    width:302px;
    border:none
}
.add-deploy select{
    border:none;
    outline: none;
}
.add-input-father {
    width: 202px;
    position: relative;
    display: inline-block;
}
.add-input-block {
    width: 202px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 0 5px 0 5px;
    vertical-align: middle;
}
.add-input-arrow {
    width: 10px;
    height: 10px;
    background: url(../img/down-arrow.png) no-repeat;
    background-size: 10px;
    background-position: 95% center;
    float: right;
    margin-top: 10px;
}
.add-select-block {
    margin: 0;
    padding: 0;
    width: 202px;
    padding: 0 5px 0 5px;
    position: absolute;
    border: 1px solid #ccc;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    background: white;
    display: none;
    top: 29px;
}
.add-select-block li {
    list-style: none;
    line-height: 25px;
    cursor: pointer;
    text-align: left;
}
.deploy-form .row {
    padding-left: 20px;
}
.chooseDate {
    background: url(../img/times.png) no-repeat 160px center;
    background-size: auto 80%;
}

.add-inputs {
    width: 190px;
    border-radius: 5px;
    border: none;
    outline: none;
    line-height: 30px;
    height: 30px;
    text-align: left;
}
.add-input-block{
    background:white;
}

#dateTables4 {
    width: 377px !important;
    float: left;
}
.theHidden{
    display: none !important;
}

/*搜索框样式*/
.dataTables_filter {
    float:left !important;
    margin-left:18px;

}
.dataTables_filter label{
    font-size:16px;
}
.dataTables_filter input{
    width:210px;
    height:30px;
}
.theHidden{
    display: none;
}

/*楼宇搜索*/
#dateTables4{
    width:397px !important;
    float:left;
}
#dateTables4_info{
    display: none;
}
#dateTables4 td{
    padding-left:50px;
   text-align:left;
    cursor: pointer;
}

.dataTables_wrapper .dataTable .onFocus {
    background: #fbec88;
}

.input-labels {
    background: url(../img/asterisk.png) no-repeat 0 center;
}
/*图例*/
.legend span{
    width:30px;
    height:15px;
    display: inline-block;

}
.legend div{
    text-align:right;
}
#dateTables1 th{
    text-align:center;
}
#dateTables1_info{
    display: none;
}
/*放大镜按钮*/
.choose-builds{
    cursor: pointer;
}

.modal-backdrop.in {
    filter: alpha(opacity=30);
    opacity: 0.3 !important;
}
body {
    padding-right: 0 !important;
}

