.window-btn {
    width: 200px;
}
.modal-backdrop.in {
    filter: alpha(opacity=30);
    opacity: 0.3 !important;
}
.chooseDate {
    background: url(../img/times.png) no-repeat 120px center;
    background-size: auto 80%;
}
/*缴费状态前面的圆圈*/
span .pay-not0{
    display: inline-block;
    width:14px;
    height:14px;
    border-radius: 50%;
    background:black;
    margin-right:5px;
    margin-top:5px;
}
table span{
    display: block;
    height:21px;
    line-height: 21px;
    vertical-align:middle;
}


span .pay-not1{
    display: inline-block;
    width:14px;
    height:14px;
    border-radius: 50%;
    background:red;
    margin-right:5px;
    margin-top:5px;
}
font{
    display: inline-block;
    height: 16px;
}

/*查看详情弹窗*/
.tabs a {
    width:19% !important;
}

.swiper-container {
    width: 97%;
    border: 1px solid #c1c6ce;
}
.tabs{
    width: 97%;
    margin:0 auto;
}
.ament-data {
    padding-left: 20px;
    font-size: 16px;
    margin-bottom: 10px;
    display: inline-block;
}
.ament-data span{
    display: inline-block;
    width:135px;
}
#show-details .inner-input label {
    width: 135px;
    text-align: left;
    padding-left: 20px;
    margin-right:10px;
}
#show-details .inner-input{
    margin-left:0px;
}
.main-content-table .dataTables_wrapper {
    min-width: 1050px;
    margin: 0 0;
}


/*详情中的表格样式*/
#dateTables1_info{
    display: none !important;
}
textarea{
    line-height: 20px !important;
}
#show-details .inner-input {
    margin-left: 0px;
    margin-bottom:8px;
}
#dateTables td span{
    position:relative;
    width:120px !important;
    margin:0 auto;
}
body {
    padding-right: 0 !important;
}

